:root{
	--length: 20vw;
}
div#scene{
	margin-top: calc(var(--length)/4);
	perspective: 920px;
}
div#carousel{
	margin: 0 auto;
	height: var(--length);
	width: var(--length);
	position: relative;
	transform-style: preserve-3d;
	transform: rotateX(-15deg) rotateY(0deg);
	transition: 0.8s;
}
div#carousel div.items{
	height: 70%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rbga(0, 0, 0, 0.5);
	background-size: cover;
	border: 2px solid black;
	background-color: white;
	padding: 10px;
}
div.items img{
	max-width: 100%;
	height: 100%;
}
div#one{
	transform: rotateY(0deg) translateZ(calc(var(--length)/0.42/2));a
}
div#two{
	transform: rotateY(60deg) translateZ(calc(var(--length)/0.42/2));
}
div#three{
	transform: rotateY(120deg) translateZ(calc(var(--length)/0.42/2));
}
div#four{
	transform: rotateY(180deg) translateZ(calc(var(--length)/0.42/2));
}
div#five{
	transform: rotateY(240deg) translateZ(calc(var(--length)/0.42/2));
}
div#six{
	transform: rotateY(300deg) translateZ(calc(var(--length)/0.42/2));
}
@media screen and (max-width: 500px){
	:root{
		--length: 30vw;
	}
}