:root{
	--length: 15vw;
}
div#scene{
	margin: calc(var(--length)/2);
	perspective: 920px;
	opacity: 0;
	transform: scale(0.8, 0.8);
	transition: 2s ease-in-out;
}
div#carousel{
	margin: 0 auto;
	height: var(--length);
	width: var(--length);
	position: relative;
	transform-style: preserve-3d;
	transform: rotateX(-15deg) rotateY(0deg);
	transition: 1s ease-in-out;
}
div#carousel div.items{
	height: 70%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rbga(0, 0, 0, 0.5);
	background-size: cover;
	border: 2px solid #333;
	background-color: white;
	padding: 10px;
	filter: drop-shadow(2px 2px 2px white);
}
div.items img{
	max-width: 100%;
	height: 100%;
}
div#one{
	transform: rotateY(0deg) translateZ(calc(var(--length)/0.42/2));a
}
div#two{
	transform: rotateY(60deg) translateZ(calc(var(--length)/0.42/2));
}
div#three{
	transform: rotateY(120deg) translateZ(calc(var(--length)/0.42/2));
}
div#four{
	transform: rotateY(180deg) translateZ(calc(var(--length)/0.42/2));
}
div#five{
	transform: rotateY(240deg) translateZ(calc(var(--length)/0.42/2));
}
div#six{
	transform: rotateY(300deg) translateZ(calc(var(--length)/0.42/2));
}
@media screen and (max-width: 500px){
	:root{
		--length: 20vw;
	}
}