div#container{
  background-color: black;
  color: white;
  padding: 10px;
  outline: 1px solid black;
}
body{
  background-image: linear-gradient(to right, green, gold, green);
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
a:active{
  color: white;
}
